
<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Atividade: Nova</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">GERENCIAMENTO DE REVISAO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/../sedes">Ver trabalhos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Ferramentas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/../sedes">Ferramentas do Sistema</a>
            <a class="dropdown-item" href="/../avaliador/criar">Cadastrar Avaliador</a>
            <a class="dropdown-item"  href="/../trabalhos/criar">Cadastrar trabalho</a>
            <a class="dropdown-item" href="/../categorias/criar">Cadastrar Cadastrar Categorias</a>
            <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/../avaliador/listar-avaliadores.html">Ver Avaliadores</a>
              <a class="dropdown-item" href="/../categorias/listar-categorias.html">Ver Categorias </a>
              <a class="dropdown-item" href="/../trabalhos/listar-trabalhos.html">Ver Trabalhos</a>
          </div>
        </li>

      </ul>

    </div>
  </nav>

  
  <div class="album py-5 bg-light">
       
    <div class="container">
      <h3 th:text="${categoriasAvaliador}"></h3>
          <table class="table">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>Categoria</th>
                          <th>Inserir</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr th:each="categoria: ${categorias}" th:object="${categoria}">
                          <td th:text="*{id}"></td>
                          <td th:text="*{nome}"></td>
                          <td><a th:href="@{'/../avaliador/inserir-categoria-avaliador?id=' + ${avaliador.id} + '&id_cat=' + ${categoria.id}}">
                            <i class="fa fa-pencil" aria-hidden="true"> Inserir</i>
                        </a></td>
                        
                      </tr>
                  </tbody>
              </table>
        </div>
</div>

<div class="container">
  <h3> Lista de Categorias do Avaliador</h3>
      <table class="table">
              <thead>
                  <tr>
                
                      <th>Categoria</th>
           
                  </tr>
              </thead>
              <tbody>
                <tr th:each="categoriasdas : ${categoriasAvaliador}">
                  <td><p th:text="${categoriasdas.nome}"></p></td>
               </tr>
                     
                  </tr>
              </tbody>
          </table>
    </div>





  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>


